{"name":"thunkablecompanion","slug":"thunkableCompanion","privacy":"unlisted","platforms":["ios","android","web"],"version":"1.0.0","orientation":"portrait","icon":"./assets/icon.png","splash":{"image":"./assets/splash.png","resizeMode":"contain","backgroundColor":"#ffffff"},"assetBundlePatterns":["**/*"],"ios":{"supportsTablet":true,"bundleIdentifier":"com.thunkable.live","infoPlist":{"NSUserTrackingUsageDescription":"Allow this app to collect app-related data that can be used for tracking you or your device."}},"scheme":"thunkable","android":{"package":"com.thunkable.live","permissions":["com.google.android.gms.permission.AD_ID"]},"androidStatusBar":{"translucent":false,"backgroundColor":"#00000088"},"packagerOpts":{"config":"./metro.config.js"},"plugins":["expo-tracking-transparency"],"description":"The Thunkable App","sdkVersion":"50.0.0"}